<%= error_messages_for @bulletin %>

<% if @start_date_value && @end_date_value %>

<div class="box tabular">

  <p><%= custom_field_tag_with_label :issue, @start_date_value, :required => @bulletin.required_attribute?(@start_date_value.custom_field_id) %></p>
  <p><%= custom_field_tag_with_label :issue, @end_date_value, :required => @bulletin.required_attribute?(@end_date_value.custom_field_id) %></p>

</div>

<% end %>
