<div style="float: left;margin-top: -70px;margin-left: 0px;">
  <%= image_tag "#{WickedPdfHelper.root_path.join('public', 'plugin_assets', 'redmine_events', 'images')}/cmvoa_footer.png", size: "17x115" %>
</div>
<div style="margin-top: 100px;">
  <div style="text-align: center;font-weight: bold;margin-bottom:0;font-size: 12px;">Centre Ministériel de Veille Opérationnelle et d’Alerte</div>
  <div style="text-align: center;font-weight: normal;margin-bottom:0;font-size: 12px;">activé H24 Tel : 01.40.81.76.20 Fax : 01.40.81.79.07 Mel : permanence-cmvoa@developpement-durable.gouv.fr</div>
</div>
